.vscode/
export/
assets/images/ball_down_1.png
assets/images/ball_up_2.png
assets/images/ball_up_1.png
assets/images/ball_right_2.png
assets/images/ball_right_1.png
assets/images/ball_left_2.png
assets/images/ball_left_1.png
assets/images/ball_down_2.png
assets/images/silver_wing_stand.png
assets/images/protagonist.png
assets/images/enemy-testsheet.png
assets/data/tutorialworld.oep
assets/data/room-001.oel
assets/images/player.png
assets/images/tiles.png
assets/images/tile_grass_1.png
